<div class="container">
    <div class="row">
        <!-- head title -->
        <div class="header header-title">
            <h1>Channel</h1>
        </div>
        <!-- navigation -->
        <!-- left container -->
        <div class="col-lg-8 main">
            <h2>What's Channel?</h2>
            <p>リアルタイムでみんなのコメントが読める！</p>
            <p>新感覚チャット掲示板が登場しました！</p>
            <h2>How to use Channel?</h2>
            <p>テレビを見ながら...</p>
            <p>運動しながら...</p>
            <p>読書をしながら...</p>
            <p>みんなの書き込みがリアルタイムでタイムラインに表示！</p>
            <p>マイページをカスタマイズして見やすいレイアウトにできる！</p>
        </div>
        <!-- right container -->
        <div class="col-lg-4 main">
            <form name="form">
                <label>USER ID</label><span></span>
                <br>
                <input type="text" class="form-control" placeholder="ID" required>
                <label>PASSWORD</label><span></span>
                <input type="text" class="form-control" placeholder="PASSWORD" required>
                <p></p>
                <input type="submit" class="btn btn-indigo" value="Submit" />
                <p class="input-group">

                </p>
            </form>
        </div>
    </div>
    <p></p>
</div>
